In [1]:
from pandas import Series, DataFrame
import pandas as pd

In [6]:
gpadata = pd.read_csv("gpadata.csv")
gpadata

,StudentID,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass
0,1001,17,1,0,2,19.833723,7,1,2,0,0,1,0,2.929196,2.0
1,1002,18,0,0,1,15.408756,0,0,1,0,0,0,0,3.042915,1.0
2,1003,15,0,2,3,4.210570,26,0,2,0,0,0,0,0.112602,4.0
3,1004,17,1,0,3,10.028829,14,0,3,1,0,0,0,2.054218,3.0
4,1005,17,1,0,2,4.672495,17,1,3,0,0,0,0,1.288061,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2387,3388,18,1,0,3,10.680555,2,0,4,1,0,0,0,3.455509,0.0
2388,3389,17,0,0,1,7.583217,4,1,4,0,1,0,0,3.279150,4.0
2389,3390,16,1,0,2,6.805500,20,0,2,0,0,0,1,1.142333,2.0
2390,3391,16,1,1,0,12.416653,17,0,2,0,1,1,0,1.803297,1.0
2391,3392,16,1,0,2,17.819907,13,0,2,0,0,0,1,2.140014,1.0

In [52]:
a=len(gpadata[gpadata['GPA'] >= 3.5])
a

77

In [54]:
b=len(gpadata[(gpadata['GPA'] >= 3) & (gpadata['GPA'] < 3.5)])
b

244

In [55]:
c=len(gpadata[(gpadata['GPA'] >= 2.5) & (gpadata['GPA'] < 3)])
c

385

In [37]:
d=len(gpadata[(gpadata['GPA'] >= 2) & (gpadata['GPA'] < 2.5)])

In [34]:
e=len(gpadata[gpadata['GPA'] < 2])

In [38]:
a+b+c+d+e

2392

In [51]:
gpadata['newGradeClass'].value_counts()

newGradeClass
4    1274
3     412
2     385
1     244
0      77
Name: count, dtype: int64

In [47]:
gpadata.sort_values(by = 'GPA', ascending = False).iloc[:20]

,StudentID,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass
1705,2706,18,1,0,2,8.858282,0,1,4,1,0,0,0,4.000000,0.0
2319,3320,17,0,0,2,9.285447,0,0,4,1,0,1,1,4.000000,3.0
1278,2279,15,1,0,2,18.899696,3,1,3,1,1,0,0,4.000000,0.0
44,1045,18,1,0,1,18.921512,1,1,3,1,1,0,0,4.000000,0.0
2028,3029,16,1,0,0,18.656924,0,1,4,1,0,0,1,4.000000,0.0
442,1443,15,0,0,2,19.424398,0,0,3,0,1,1,1,4.000000,0.0
1919,2920,15,0,3,1,17.442121,1,1,1,1,1,0,0,4.000000,0.0
1260,2261,17,1,2,2,9.001905,2,1,3,1,1,0,0,3.984674,0.0
2354,3355,16,1,0,2,1.565490,4,1,4,1,1,0,0,3.979421,4.0
1900,2901,18,1,1,2,15.683744,1,1,4,0,1,0,0,3.951460,0.0
504,1505,17,1,1,0,18.751007,0,1,4,1,0,0,0,3.947093,0.0
819,1820,15,1,1,2,5.463192,3,1,4,1,0,0,0,3.941760,0.0
363,1364,16,0,0,3,7.873638,0,1,4,0,0,1,0,3.880640,0.0
919,1920,18,0,1,1,18.106437,1,0,2,0,0,1,1,3.869587,0.0
527,1528,16,1,0,2,7.105793,0,0,2,1,1,1,0,3.864977,0.0
1269,2270,16,1,1,1,13.782182,0,0,3,1,0,0,0,3.841286,0.0
951,1952,18,1,0,2,18.672308,4,1,3,1,1,0,1,3.836699,0.0
1731,2732,17,1,3,1,12.574428,0,1,3,1,0,0,0,3.830205,0.0
1853,2854,15,0,3,2,8.511118,0,1,3,0,1,0,0,3.823801,0.0
2127,3128,17,1,0,4,10.103314,1,0,3,1,1,0,0,3.812757,0.0

In [50]:
def categorize(gpa):
    if gpa >= 3.5:
        return 0
    elif 3.0 <= gpa < 3.5:
        return 1
    elif 2.5 <= gpa < 3.0:
        return 2
    elif 2.0 <= gpa < 2.5:
        return 3
    else:
        return 4
gpadata['newGradeClass'] = gpadata['GPA'].apply(categorize)